<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.llegoati.llegoati">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:name=".App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">


            <meta-data
                android:name="android.app.default_searchable"
                android:value=".activities.SearchResultActivity" />
        </activity>
        <activity
            android:name=".activities.SearchResultActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.llegoati.llegoati.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.ProductListActivity"
            android:label="@string/title_activity_product_list"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.llegoati.llegoati.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.ProductDetailActivity"
            android:label="@string/title_activity_product_detail"
            android:parentActivityName=".activities.ProductListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.llegoati.llegoati.activities.ProductListActivity" />
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.llegoati.llegoati.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.RegisterActivity"
            android:label="@string/title_activity_register"
            android:noHistory="true"
            android:parentActivityName=".activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.llegoati.llegoati.activities.LoginActivity" />
        </activity>
        <activity
            android:name=".activities.ConfirmActivity"
            android:label="@string/title_activity_confirm"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.MyAccount">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.llegoati.llegoati.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.ChangePasswordActivity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.llegoati.llegoati.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.CheckoutLoteryCodeActivity"
            android:label="@string/title_activity_checkout_lotery_code"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.llegoati.llegoati.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.EditAccountActivity"
            android:label="@string/title_activity_edit_account"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.llegoati.llegoati.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.ContactsActivity"
            android:label="@string/title_activity_contacts"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.llegoati.llegoati.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.AddContactActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.llegoati.llegoati.activities.ContactsActivity" />
        </activity>
        <activity
            android:name=".activities.ModifyAccountActivity"
            android:label="@string/title_activity_modify_account"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.llegoati.llegoati.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.RequestHistoryActivity"
            android:label="@string/title_activity_request_history"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.llegoati.llegoati.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.RequestDetailActivity"
            android:label="@string/title_activity_request_detail"
            android:parentActivityName=".activities.RequestHistoryActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.llegoati.llegoati.activities.RequestHistoryActivity" />
        </activity>
        <activity
            android:name=".activities.InformationActivity"
            android:label="@string/title_activity_information"
            android:noHistory="true"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.llegoati.llegoati.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.EventsActivity"
            android:label="@string/drawer_item_events"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.llegoati.llegoati.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.SellerListActivity"
            android:label="@string/title_activity_seller_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SellerProfileActivity"
            android:label="@string/title_activity_seller_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".explorer.ExplorerActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".smsmodulo.View.SmsMainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name=".smsmodulo.SmsProcess"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
                <action android:name="android.provider.Telephony.SMS_SENT" />
            </intent-filter>
            <!--
            intent-filter>
                <action android:name="android.provider.Telephony.WAP_PUSH_RECEIVED" />
                <data android:mimeType="application/vnd.wap.mms-message" />
            </intent-filter
            -->

            <intent-filter>
                <action android:name="com.androidmessenger.MESSAGE_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".smsmodulo.View.SmsHistoryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".explorer.MultiDatabaseActivity"
            android:label="@string/db_config"
            />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>